{% extends 'base.html' %}
{% load static %}


{% block baner %}
<section class="banner-area other-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{judul}}</h1>
            </div>
        </div>
    </div>
</section>
{% endblock baner %}


{% block body %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
    </div>

    <div class="row">
        <div class="col-lg-7 mx-auto">
            <div class="card">
                <h5 class="card-header"> </h5>
                <div class="card-body">
                    <!-- tabel -->
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">{{id}}</th>
                                <th scope="col">{{nama}}</th>
                                <th scope="col">{{class}}</th>
                                <th scope="col">{{actions}}</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for data in object_list  %}
                            <tr>


                                <td>{{data.id_pasien}}</td>
                                <td>
                                    <a href="">{{data.nama}}</a>
                                </td>
                                <td>
                                    {% if data.prediksi == "ckd" %}
                                    CKD
                                    {% else %}
                                    NOT-CKD
                                    {% endif %}
                                </td>
                                <td><a href="{% url 'prediksi:delete' data.slug %}">Delete</a> || <a
                                        href="{% url 'prediksi:pdf' data.slug %}">PDF</a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>



                    <!-- tutup tabel -->
                </div>

            </div>

        </div>
    </div>

</div>


{% endblock body %}